

<div class="container-fluid checkout" >
        <div class="row ">
    
            <div class="col-md-4 col-md-offset-1">
                <button class="btn btn-success btn-lg checkout-btn" >Checkout</button>
            </div>
            <div class="col-md-3">
                <div class="dropdown">
                    <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown">Check List
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">HTML</a></li>
                        <li><a href="#">CSS</a></li>
                        <li><a href="#">JavaScript</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-lg btn-info">Rs: {{total}}</button>
              
            </div>
            <span class="label label-danger">{{count}}</span>
        </div>
        
    </div>
