<div class="container">
    <div class="row">
        <h1>
            Checkout:
        </h1>

    </div>
    <div class="row">
        <div class="col-md-6">
                <form action="">
                    <div class="form-group">
                    <label for="instruction">Special Instruction (Optional)</label>
                    <textarea rows="4" cols="50" type="text" class="form-control" id="instruction" name="instruction"></textarea>
                    </div>
                    <div class="form-group">
                    <label for="address">Your Address</label>
                    <textarea rows="4" cols="50" type="text" class="form-control" id="address" name="address"></textarea>
                    </div>
                    <a href="/signin"><label class="btn btn-danger btn-lg" >Place Order</label></a>
                </form>

        </div>
        <div class="col-md-4 col-md-offset-1 block text-center">
          <h2>Items</h2>
          <ul class="items-list">
      
                <li class="text-center" *ngFor="let checkoutDeal of checkoutDeals">
                    <h3 class="">Item: {{checkoutDeal.name}}</h3>
                    <p><u>Description: </u> {{checkoutDeal.items}} </p>
                     <p >price: {{checkoutDeal.price}}</p>
                </li>
          </ul><hr>
          <h1>Total</h1>
          <h4>Rs. {{total()}}</h4>

        </div>
    </div>

</div>
