<div class="container">
    <div class="row">
        <h1>
            Checkout:
        </h1>

    </div>
    <div class="row">
        <div class="col-md-6">
                <form action="">
                    <div class="form-group">
                    <label for="instruction">Special Instruction (Optional)</label>
                    <input type="text" class="form-control" id="instruction" name="instruction">
                    </div>
                    <div class="form-group">
                    <label for="address">Your Address</label>
                    <input type="text" class="form-control" id="address" name="address">
                    </div>
                    <button type="submit" class="btn btn-danger">Place Order</button>
                </form>

        </div>
        <div class="col-md-4 col-md-offset-1 block text-center">
          <h2>Items</h2>
          <ul class="items-list">
      
                <li class="text-center" *ngFor="let item of items">
                    <h3 class="">Item: {{item.item}}</h3>
                    <p><u>Description: </u> {{item.des}} </p>
                     <p>Quantity: {{item.quantity}}</p>
                </li>
          </ul><hr>
          <h1>Total</h1>
          <h4>Rs. {{total}}</h4>

        </div>
    </div>

</div>
