

<div class="container-fluid checkout" >
    <div class="row ">

        <div class="col-md-4 col-md-offset-1">
            <a routerLink='/order'>
              <button class="btn btn-success btn-lg checkout-btn">Checkout</button>
            </a>
        </div>
        <div class="col-md-3">
            <div class="custom">
              
                <select name="" id="" >
                    <option selected disabled>Check List</option>
                    <option *ngFor='let item of checklist' value=""><span >{{item}}</span></option>
                   

                </select>
            </div>
        </div>
        <div class="col-md-2">
            <button class="btn btn-lg btn-info">Rs: {{total}}</button>
          
        </div>
        <span class="label label-danger">{{count}}</span>
    </div>
    
</div>


<div class="container">
        <h1 class="text-center shadow-heading">Special Offers:</h1>
        <ul *ngFor='let retrodeal of retrodeals' class="deals-list">
          
          <li (click)="append(retrodeal)" class="text-center">
              <h3 class="shadow-heading">{{retrodeal.name}}</h3>
               <p>{{retrodeal.items}}</p>
               <p>Rs. {{retrodeal.price}}</p>
            </li>
        </ul>
    
        <h1 class="text-center shadow-heading">Starters:</h1>
        <ul *ngFor='let retrostarter of retrostarters' class="deals-list">
          
          <li (click)="append(retrostarter)" class="text-center" >
              <h3 class="shadow-heading">{{retrostarter.name}}</h3>
               <p>Rs. {{retrostarter.price}}</p></li>
        </ul>
        
    
    </div>
    