
      <div class="container">
        <div class="col-sm-6 col-md-4">
          <a href="/retro">
          <div class="thumbnail">
            <img src={{imgPath[0]}} alt="...">
            <div  class="caption">
              
              <h3>{{cafes[0].name}}</h3>
              <p>{{cafes[0].description}}</p>
              <p><label class="btn btn-danger" role="button">Check Our Menu</label> </p>
            </div>
            
          </div>
          </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="/rest">
            <div class="thumbnail">
              <img src={{imgPath[2]}} alt="...">
              <div  class="caption">
                  <h3>{{cafes[1].name}}</h3>
                  <p>{{cafes[1].description}}</p>
                <p><a href="#" class="btn btn-danger" role="button">Check Our Menu</a> </p>
              </div>
              
            </div>
            </a>
          </div>

          <div class="col-sm-6 col-md-4">
              <a href="/rest">
              <div class="thumbnail">
                <img src={{imgPath[4]}} alt="...">
                <div  class="caption">
                    <h3>{{cafes[2].name}}</h3>
                    <p>{{cafes[2].description}}</p>
                  <p><a href="#" class="btn btn-danger" role="button">Check Our Menu</a> </p>
                </div>
                
              </div>
              </a>
            </div>

      </div>

      <div class="container">
          <div class="col-sm-6 col-md-4">
            <a href="/kybo">
            <div class="thumbnail">
              <img src={{imgPath[1]}} alt="...">
              <div  class="caption">
                  <h3>{{cafes[3].name}}</h3>
                  <p>{{cafes[3].description}}</p>
                <p><label class="btn btn-danger" role="button">Check Our Menu</label> </p>
              </div>
              
            </div>
            </a>
          </div>

          <div class="col-sm-6 col-md-4">
              <a href="/rest">
              <div class="thumbnail">
                <img src={{imgPath[3]}} alt="...">
                <div  class="caption">
                    <h3>{{cafes[4].name}}</h3>
                    <p>{{cafes[4].description}}</p>
                  <p><a href="#" class="btn btn-danger" role="button">Check Our Menu</a> </p>
                </div>
                
              </div>
              </a>
            </div>

            <div class="col-sm-6 col-md-4">
                <a href="/rest">
                <div class="thumbnail">
                  <img src={{imgPath[5]}} alt="...">
                  <div  class="caption">
                      <h3>{{cafes[5].name}}</h3>
                      <p>{{cafes[5].description}}</p>
                    <p><a href="#" class="btn btn-danger" role="button">Check Our Menu</a> </p>
                  </div>
                  
                </div>
                </a>
              </div>



        </div>

        


